NEXT_PUBLIC_FIREBASE_API_KEY= enter_your_firebase_api_key_here
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN= enter_your_firebase_auth_domain_here
NEXT_PUBLIC_FIREBASE_PROJECT_ID= enter_your_firebase_project_id_here
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET= enter_your_firebase_storage_bucket_here
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID= enter_your_firebase_messaging_sender_id_here
NEXT_PUBLIC_FIREBASE_APP_ID= enter_your_firebase_app_id_here
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID= enter_your_firebase_measurement_id_here
MONGODB_URI=mongodb://localhost:27017/flux